
/*for desktop view only*/
body {
  font-family: 'Roboto', sans-serif;
  background: url(../images/squares_bg.png);
  color: #686868;
  padding: 0;
  margin: 0;
}

h2 {
  color: #008080;
  margin: 0;
  padding: 30px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: 'Dancing Script', cursive;
  font-size: 62px;
  font-weight: 600;
  line-height: 60px;
}

p {
  font-size: 19px;
  line-height: 1.5em;
}

/* Header */
header {
  padding: 30px 0;
}

header .logo {
  position: absolute;
  left: 30px;
  top: 30px;
  opacity: 0.25;
  height: 120px;
  overflow: hidden;
}

header h1 {
  color: #008080;
  text-align: center;
  font-size: 72px;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

/* Main menu */
nav {
  display: block;
  padding: 30px;
  border: 5px solid #008080;
  border-right: none;
  border-left: none;
  background-color: #FFF;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  text-align: center;
  display: inline;
  margin: 10px;
}

nav ul li a {
  font-size: 25px;
  font-weight: 500;
  color: #686868;
  text-decoration: none;
}

nav ul li a:hover {
  color: #008080;
  text-decoration: underline;
}

/* Main Page */
main {
  display: block;
}

section.recipes {
  margin: 50px 0;
}

main article {
  display: block;
  background-color: #FFF;
  border: 1px solid #969696;
  margin: 0 2%;
  width: 29.33333%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

main article:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: -20px;
}

main article .author,
main article .publish-date {
  font-size: 17px;
  text-align: right;
}

main article .publish-date {
  opacity: 0.75;
}

main article img {
  width: 100%;
  margin: 0;
  border-radius: 50%;
}

.clear-fix {
  clear: both;
  height: 0;
}

/* About */
section.about {
  clear: both;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px 30px;
}

section.about h2 {
  color: #fff;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.75);
}

section.about p {
  color: #fff;
  opacity: 0.75;
  text-shadow: 1px 1px 0 black;
  padding: 0;
  margin: 0 0 30px 0;
}

section.about img {
  float: left;
  margin-right: 50px;
  margin-top: 15px;
}

/* Footer */
footer {
  font-weight: 100;
  background-color: #008080;
  font-size: 19px;
  padding: 30px;
  color: rgba(255, 255, 255, 0.75);
  border-top: solid 2px #fff;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
}

footer strong {
  color: #fff;
  font-weight: 500;
}

/* for mobile view only*/
@media only screen and (max-width: 393px), only screen and (max-device-width: 393px) {
  
  header {
    width: 100%;
    height: 100%;
  }

  header .logo {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
  }

  header h1 {
    width: 100%;
    margin-top: 260px;
  }

  nav ul {
    width: 100%;
  }

  nav ul li {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px;
    display: block;
  }

  main article {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
  }

  main article .author{
    margin-right: 20px;
  }

  main article .publish-date{
    margin-right: 20px;
  }

  main article .heading {
    margin-left: 2%;
  }

  main article img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  main article .info {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 2em;
    height: normal;
  }

  .tofix{
    clear: both;
  }

  section .about {
    background-color: rgba(0, 0, 0, 0.6);
  }

  section .photo {
    display: none;
  }

  section h2 {
    margin-left: 10px;
  }

  section p {
    padding: 5px;
    margin-left: 10px;
    line-height: 2.3em;
    margin-top: 5px;
  }

  .tofix{
    clear: both;
  }

  footer{
    text-align: center;
  }
}


/*for tablet view only*/
@media only screen and (min-height: 1180px), only screen and (min-device-height: 1180px){

  main article {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
  }

  main article .author{
    margin-right: 20px;
  }

  main article .publish-date{
    margin-right: 20px;
  }

  main article .heading {
    margin-left: 2%;
  }

  main article img {
    width: 95%;
    border-radius: 50%;
  }

  main article p {
    margin-left: 35%;
    line-height: 2em;
    padding: 2px;
    height: normal;
  }

  .tofix{
    clear: both;
  }

  section.about {
    clear: both;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 30px;
  }
  
  section.about h2 {
    color: #fff;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.75);
  }
  
  section.about p {
    color: #fff;
    opacity: 0.75;
    text-shadow: 1px 1px 0 black;
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  section.about img {
    float: left;
    margin-right: 50px;
    margin-top: 15px;
  }
  
  /* Footer */
  footer {
    font-weight: 100;
    background-color: #008080;
    font-size: 19px;
    padding: 30px;
    color: rgba(255, 255, 255, 0.75);
    border-top: solid 2px #fff;
  }
  
  footer{
    text-align: center;
  }
  
  footer strong {
    color: #fff;
    font-weight: 500;
  }
}  
